body {
  background-color: black;
  margin: 0%;
}

/*Styles for navagation bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-family: "Courier New", monospace;
  font-size: 32px;
  text-align: center;
  padding: 14px 32px;
  text-decoration: none;
}

li a.active {
  background-color: white;
  font-weight: 500;
  color: black;
}

li a:hover {
  background-color: white;
  font-weight: 500;
  color: black;
}

/*Rest of website content*/
.content {
  padding:20px;
  margin-top:65px;
}

p {
  color: white;
  text-align: center;
  font-family: "Courier New", monospace;
}

p.title {
  font-size: 48px;
  margin: 0px auto;
}

p.subtitle {
  font-size: 48px;
  margin-top: 35px;
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}